
GameState.txt
*.lst
scripts/tf_inventory.txt
tf2_playerstats.dmx
modelsounds.cache
demoheader.tmp
custom/*
cfg/config.cfg
scripts/tf_inventory.txt
*.ain
download/*
demoheader.tmp
modelsounds.cache
media/viewed.res
*.ztmp
modelsounds.cache
GameState.txt
